html, body {
    background-color: black;
    overflow: hidden;
    width   : 100%;
    height  : 100%;
    margin  : 0;
    padding : 0;
}
#container {
    position: relative;
}
#canvas {
}
#gui {
    position: absolute;
    left: 0;
    top: 0;
    color: white;
    font-size: larger;
}
#deck {

}
#deck > * {
    border: 1px solid green;
    display: inline-block;
    margin: 0;
}
